{% extends "base.html" %} {% block content %}
<div class="page-content">
  {% if request.user.is_authenticated %}

  <form onsubmit="sendMessage(); return false" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input
        class="mdl-textfield__input"
        name="textmessage"
        type="text"
        id="chatMsg"
        onkeyup="isMessageTextEmpty()"
      />
      <label class="mdl-textfield__label" for="sample3">Text...</label>
      <input
        type="hidden"
        name="username"
        id="username"
        value="{{request.user.username}}"
      />
    </div>
    <button
      id="sendButton"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      type="submit"
      disabled
    >
      Send
    </button>
  </form>
  <div class="chat-msg" id="msgContainer">
    {% for message in messeges %}
    <div>
      <div>
        <span class="mr-8 gray">{{message.created_at}}</span>
        <b>{{message.author}}</b>: {{message.text}}
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h1>Sie sind nicht eingeloggt</h1>
  <p>Bitte loggen Sie sich ein <a href="/login/">Login</a></p>

  {% endif %}
</div>
{% endblock %}
