{% extends "base.html" %} {% block content %}
<div class="page-content page-content-login">
  {% if request.user.username %}
  <span
    >Du bist bereits eingelogt, <a href="/chat/">hier</a> geht es zu den
    Chats</span
  >
  {% else %}
  <mat-card>
    <form
      style="
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
      "
      id="loginForm"
      action="/login/"
      method="post"
    >
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield">
        <input
          class="mdl-textfield__input"
          type="text"
          id="username"
          name="username"
          placeholder="Username"
        />
        <label class="mdl-textfield__label" for="Username">Username</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <input
          class="mdl-textfield__input"
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />
        <label class="mdl-textfield__label" for="Username">Password</label>
      </div>
      <button
        style="margin-bottom: 12px"
        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
      >
        Login
      </button>
      <span>Hier <a href="/register/">Regestrieren</a></span>
      {% if loginFail %}
      <p style="color: red; font-size: 14px">Invalid username or password</p>
      {% endif %}
    </form>
  </mat-card>
</div>
{% endif %} {% endblock %}
