{% extends "base.html" %} {% block content %}
<div class="page-content page-content-register">
  <form class="form-register" action="/register/" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="text"
        id="username"
        name="username"
        placeholder="Username*"
      />
      <label class="mdl-textfield__label" for="username">Username</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="text"
        id="first_name"
        name="first_name"
        placeholder="First Name*"
      />
      <label class="mdl-textfield__label" for="first_name">First Name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="text"
        id="last_name"
        name="last_name"
        placeholder="Last Name*"
      />
      <label class="mdl-textfield__label" for="last_name">Last Name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="email"
        id="email"
        name="email"
        placeholder="Email*"
      />
      <label class="mdl-textfield__label" for="email">Email</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="password"
        id="password"
        name="password"
        placeholder="Password*"
        onkeyup="checkPasswordMatch()"
      />
      <label class="mdl-textfield__label" for="password">Password</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input
        class="mdl-textfield__input"
        type="password"
        id="confirm_password"
        name="confirm_password"
        placeholder="Confirm Password*"
        onkeyup="checkPasswordMatch()"
      />
      <label class="mdl-textfield__label" for="confirm_password"
        >Confirm Password</label
      >
    </div>
    <!-- Accent-colored raised button with ripple -->
    <div class="button-container">
      <button
        id="registerButton"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button-register"
        type="submit"
      >
        Button
      </button>
      <button
        type="button"
        id="clearButton"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored button-register"
        onclick="clearForm()"
      >
        Clear
      </button>
    </div>
  </form>
  {% if registerFailed %}
  <span class="warning">{{registerFailed}}</span>
  {% endif %}
</div>

{% endblock %}
